body{
background:#0f172a;
color:white;
font-family:sans-serif;
margin:0;
}

.logo span{color:#38bdf8;}

#loader{
position:fixed;
width:100%;
height:100%;
background:#0f172a;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:999;
}

.top-nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
padding:10px;
background:#0f172a;
}

.hero{
text-align:center;
padding:80px 20px;
}

.platforms{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
padding:10px;
}

.platform-card{
background:#1e293b;
padding:10px;
border-radius:10px;
text-align:center;
}

.platform-card.active{
border:2px solid #38bdf8;
}

.option-card{
background:#1e293b;
padding:10px;
margin-top:10px;
border-radius:10px;
}

input,select,button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:10px;
border:none;
}

button{
background:#38bdf8;
color:white;
}

.join-btn{
display:block;
background:#25D366;
padding:10px;
text-align:center;
border-radius:10px;
color:white;
text-decoration:none;
}

.bottom-nav{
position:fixed;
bottom:0;
width:100%;
display:flex;
justify-content:space-around;
background:#0f172a;
padding:10px;
}
